[submodule "tasks/coverage/sass-spec"]
	path = tasks/coverage/sass-spec
	url = https://github.com/sass/sass-spec.git
	branch = main
	shallow = true
	ignore = dirty
[submodule "tasks/coverage/csstree"]
	path = tasks/coverage/csstree
	url = https://github.com/csstree/csstree.git
	branch = master
	shallow = true
	ignore = dirty

[submodule "tasks/coverage/postcss-parser-tests"]
	path = tasks/coverage/postcss-parser-tests
	url = git@github.com:postcss/postcss-parser-tests.git
	branch = main
	shallow = true
	ignore = dirty
